<div class="row">
   <h1>Refused</h1>
    <table class='table table-hover table-striped table-bordered'>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Notes</th>
        </tr>
        <% for(let i=0; i < candidate.length; i++) { %>
            <tr>
                <td><%= candidate[i].Id %></td>
                <td><%= candidate[i].FirstName %></td>
                <td><%= candidate[i].LastName %></td>
                <td><%= candidate[i].Phone %></td>
                <td><%= candidate[i].Email %></td>
                <td><%= candidate[i].Notes %></td>
               
            </tr>
        <%}%>

    </table>

</div>